<<<<<<< HEAD
.showcased-categories-sidebar .two-topic-list-sidebar {
  .topic-excerpt {
    display: none;
  }

  .btn-link.posts-map.badge-posts {
    display: block;
  }

  .two-topic-list-sidebar .topic-list .topic-list-item {
    height: unset;
  }
}
.full-width .contents .topic-list {
  border-spacing: 0 0.125em;
}
=======
>>>>>>> 03fc59b9814897ab39aa6a6963381b6bd09bf83e
.showcased-categories-sidebar {
  .two-topic-list-sidebar {
    .btn-link.posts-map.badge-posts {
      display: block;
    }

    .topic-list .topic-list-item {
      height: unset;
    }

    .topic-excerpt {
      display: none;
    }
  }

  .full-width .contents .topic-list {
    display: unset;
  }
}
