@import "chat-mobile";

html {
  font-size: 18px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 16px !important;
  }
}

:root {
  --font-up-5: 1.75rem;
  --font-up-4: 1.45rem;
  --font-up-3: 1.25rem;
  --font-up-2: 1.15rem;
  --font-up-1: 1rem;
  --font-0: 0.93rem;
}
.custom-search-banner-wrap {
  h1 {
    font-size: 2.5em !important;
  }
  p {
    font-weight: normal;
    font-size: $font-0;
  }
}
h1 {
  font-family: var(--heading-font-family);
  font-weight: 800;
}
h2,
h3,
h4,
h5 {
  font-family: var(--font-family);
}

.user-nav__admin {
  background-color: var(--d-sidebar-highlight-background);
}
.timeline-open-jump-to-post-prompt-btn {
  display: none;
}
.topic-timeline .title {
  opacity: 0.33;
}
.navigation-categories .navigation-container,
.categories-list .navigation-container {
  border-bottom: none !important;
}

body.category .category-breadcrumb .select-kit-header,
#navigation-bar,
.navigation-controls {
  margin-bottom: 0.5em !important;
}

body.category .navigation-categories .list-container,
.categories-list .list-container {
  padding-top: 1em !important;
}
.list-controls .navigation-container {
  margin-top: 1em;
}
ol.category-breadcrumb,
.navigation-container .select-kit.combo-box.tag-drop {
  display: flex !important;
}
#topic-progress-wrapper {
  right: unset;
  justify-content: unset;
  width: 100%;
  left: 0;
  height: 2.53rem;
}
#topic-progress {
  width: 100%;
  height: unset;
}
#topic-progress .nums {
  width: 100%;
  top: 0;
  font-size: var(--font-up-3);
}
.reason .select-kit .select-kit-header .select-kit-header-wrapper {
  margin-right: 2rem;
}
.select-kit.combo-box.topic-footer-mobile-dropdown .select-kit-row {
  padding: unset;
}

.categories-list .list-controls {
  background: var(--secondary);
  padding: 0.5em;
  border-radius: 8px;
}

.list-controls .nav-pills {
  li.navigation-toggle {
    border-radius: 8px;
    background-color: var(--secondary);
    a:hover,
    a:focus {
      color: var(--primary);
      background-color: var(--secondary);
    }
  }
  #topic-progress {
    width: 100vw;
    color: var(--primary);
    opacity: 0.87;
    height: 2.5rem;
    background-color: var(--tertiary-300);
    cursor: pointer;
  }
  .topic-list .topic-list-data {
    padding: 0.67rem !important;
  }
  .drop {
    top: calc(100% + 0.5em);
    border-radius: 8px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  }
}

.topic-list .topic-list-data {
  padding: 1em 1em 0 1em;
  max-width: unset;
}

.custom-search-banner-wrap .search-context {
  top: 3em !important;
}

.top-lists {
  background-color: var(--secondary);
  border-radius: 8px;
  padding: 0.25em 0.25em 0.25em 0.5em;
  margin-bottom: 0.5em;
}

.users-directory.directory,
.reviewable {
  width: 100%;
  background-color: var(--secondary);
  margin-left: -0.5em;
  padding: 0 0.5em;
}
.topic-list .views {
  display: none !important;
}
.tag-groups-container {
  background: var(--secondary);
  padding: 2em 1em;
  border-radius: 0.25em;
  margin-top: 1em;
}
.d-editor-textarea-wrapper textarea,
.d-editor-preview {
  font-size: var(--font-down-1);
  line-height: 1.53 !important;
}
.it-foot-social a svg {
  height: 2rem;
  width: 2rem;
}
.it-foot-social a.rss svg {
  width: 2.53rem;
  height: 2.53rem;
}
.d-header {
  height: 4.33rem;
  font-size: var(--font-down-2);
}

.d-modal .modal-header {
  position: relative;
  top: 0.5rem;
}

.create-account .disclaimer {
  margin-top: 1rem;
  font-size: var(--font-down-2);
}
.create-account__password-info {
  padding-bottom: 1rem;
}
.d-modal:not(.hidden) #login-buttons:not(.hidden) .btn,
.d-modal.create-account #login-buttons:not(.hidden) .btn {
  margin: 0.5rem;
  flex: unset;
}
#main-outlet-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
}
.search-container .search-bar input.search-query {
  flex: unset;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .popup-menu .topic-admin-popup-menu {
    top: 3%;
    right: 3%;
    left: unset;
    bottom: unset;
  }
}
.hamburger-panel .revamped .panel-body-contents .sidebar-hamburger-dropdown {
  padding-top: 2.11rem;
}

.top-lists {
  display: none;
}

@media screen and (max-width: 767px) {
  .header-dropdown-toggle .chat-header-icon,
  .d-icon-far-check-square .d-button-label {
    display: none;
  }
  td .main-link {
    width: 97%;
  }
  .post-menu-area {
    font-size: var(--font-down-1);
  }
  .custom-header-icon-link .header-icon-chat,
  .custom-header-icon-link .chat-header-icon {
    display: none;
  }
}

.topic-list-item {
  border-bottom: none;
}

.topic-list .topic-list-data {
  padding: 1.33rem 0;
}

.suggested-topics {
  padding: 3.11rem 0 1.11rem;
}

.topic-list-header,
.ai-bot-button {
  display: none;
}

.search-container .search-advanced .search-results {
  padding: none;
}

.fps-result {
  background: var(--secondary);
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(var(--primary-rgb), 0.1);
  margin-bottom: 0.5em;
}

.search-container .search-header {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 0;
}

.search-container .search-advanced .search-info {
  padding-right: 1em;
  padding-left: 1em;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.full-width .contents .topic-list .topic-list-header tr {
  background-color: var(--secondary);
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(var(--primary-rgb), 0.1);
  margin-bottom: 1em;
}

.topic-list .topic-item-stats {
  flex-wrap: wrap;
}

.topic-list-item .discourse-tags {
  order: 3;
  width: 100%;
  margin-top: 0.5em;
}

.full-width .contents .topic-list .topic-list-item .posts-map {
  padding: 0;
  .number {
    margin: 0;
  }
}

.full-width
  .contents
  .topic-list
  .topic-list-body
  .topic-list-item
  .topic-list-data.posts {
  width: unset;
}

.topic-list .topic-list-header .topic-list-data,
.topic-list .topic-list-item .topic-list-data {
  padding: 15px;
}

// default category list styles when the modern category boxes theme component isn't used

.category-list-item.category {
  background: var(--secondary);
  border-radius: 1em;
  tbody {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  td {
    width: 100%;
  }
  .num.posts {
    padding-right: 0.25em;
  }
}
  