@import "chat-mobile";

html {
  font-size: 18px;
  }

:root {
--font-up-5: 1.83em;
--font-up-4: 1.71em;
--font-up-3: 1.45em;
--font-up-2: 1.23em;
--font-up-1: 1.15em;
--font-0: 1em;
}
.custom-search-banner-wrap {
  h1 {
    font-size: 2.5em !important;
  }
  p {
    font-weight: normal;
    font-size: $font-0;
  }
}
h1 {
  font-family: var(--heading-font-family);
  font-weight: 800;
}
  h2, h3, h4, h5 {
    font-family: var(--font-family);
  }


.navigation-categories .navigation-container,
.categories-list .navigation-container {
  border-bottom: none !important;
}

body.category .category-breadcrumb .select-kit-header,
#navigation-bar,
.navigation-controls {
  margin-bottom: 0.5em !important;
}

body.category .navigation-categories .list-container,
.categories-list .list-container {
  padding-top: 1em !important;
}

ol.category-breadcrumb {
  margin-top: 1em;
}

.list-controls .nav-pills {
  li.navigation-toggle {
    border-radius: 8px;
    border: none;
    background-color: var(--secondary);
    a:hover,
    a:focus {
      color: var(--primary);
      background-color: var(--secondary);
    }
  }
  .drop {
    top: calc(100% + 0.5em);
    border-radius: 8px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  }
}
.custom-search-banner-wrap .search-context {
  top: 3em !important;
}

.top-lists {
  background-color: var(--secondary);
  border-radius: 8px;
  padding: 0.25em 0.25em 0.25em 0.5em;
  margin-bottom: 0.5em;
}

.users-directory.directory,
.reviewable {
  width: 100%;
  background-color: var(--secondary);
  margin-left: -0.5em;
  padding: 0 0.5em;
}

.tag-groups-container {
  background: var(--secondary);
  padding: 2em 1em;
  border-radius: 0.25em;
  margin-top: 1em;
}

.d-editor-textarea-wrapper textarea,
.d-editor-preview {
font-size: var(--font-down-1);
}

.it-foot-social a svg {
  height: 1.73rem;
  width: 1.73rem;
  }
  .it-foot-social a.rss svg {
      width: 2.13rem;
      height: 2.13rem;
  }

  .wrap .contents {
    display: table;
    width: 100%;
  }

  .d-header {
  height: 4.93rem;
  }

  .d-header > .wrap .contents {
  justify-content: right;
  }

  .header-dropdown-toggle .hamburger-dropdown {
    position: absolute;
  left: 1rem;
  }

  .d-modal .modal-header {
  
    position: relative;
    top: 0.5rem;
  }

  .create-account .disclaimer {
    margin-top: 1rem;
    font-size: var(--font-down-2);
  }
  .create-account__password-info {
  padding-bottom: 1rem;
  }
  .d-modal:not(.hidden) #login-buttons:not(.hidden) .btn, .d-modal.create-account #login-buttons:not(.hidden) .btn {
    margin: 0.5rem;
  }

  .search-container .search-bar input.search-query {
  flex: unset;
  }

  .hamburger-panel .revamped .panel-body-contents .sidebar-hamburger-dropdown {
  padding-top: 2.11rem;
  }

.top-lists {
  display: none;
  }

  /* Burger to left */

.d-header .panel {
margin: 0;
display: flex;
justify-content: flex-end;
width: 100%;
}
.d-header .d-header-icons {
  width: 100%;
  display: flex;
  justify-content: flex-end;

.header-dropdown-toggle .hamburger-dropdown {
position: absolute !important;
left: 0;
}
@media screen and (max-width: 767px) {
.header-dropdown-toggle .chat-header-icon {
display: none;
}
}