.sidebar-section-link-wrapper .sidebar-section-link,
.sidebar-more-section-links-details .sidebar-more-section-links-details-summary,
.sidebar-section-link-wrapper .sidebar-section-link.active .sidebar-section-link-prefix.icon{
  color: inherit !important;
}
@media screen and (min-width: 992px) {
  :root {
  --font-up-5: 2.35em;
  --font-up-4: 2.15em;
  --font-up-3: 1.83em;
  --font-up-2: 1.67em;
  --font-up-1: 1.35em;
  --font-0: 1.11em;
  --font-down-1: 0.97em;
  --font-down-2: 0.91em;
}
}
:root {
--white: #f1f1f1;
--line-height-small: 1.23;
--line-height-medium: 1.11;
--line-height-large: 1.57;
--secondary-high: #f85e15;
--secondary-very-high: #fa8047;
 --d-sidebar-section-link-prefix-margin-right: 0.53rem;
--d-sidebar-section-link-prefix-width: 1.7rem;
--d-sidebar-row-font-size: --font-up-2 !important;
}

.nav-stacked a {
font-size: var(--font-0);
}
.admin-nav {
width: 23%;
}
.admin-detail {
width: 77%;
}
.nav-stacked a.active {
  color: var(--secondary);
  background-color: var(--primary-900);
}
.extra-info-wrapper .extra-info {
animation: none;
}
.extra-info-wrapper {
  line-height: var(--line-height-large);
}
.groups-boxes .group-box .group-box-inner .group-description {
color: var(--primary-900);
}
.sidebar-row,
.sidebar-section-wrapper .sidebar-section-header-text {
  font-size: var(--d-sidebar-row-font-size);
}
topic-list-data {
  display: inherit;
  justify-content: center;
  align-items: center;
}
 .switch span.toggle-icon {
 margin: 0;
 }
.full-width .contents .topic-list .topic-list-item .main-link .title {
font-family: "Inter Tight","Lato",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans";
line-height: 1 !important;
font-weight: 700 !important;
}
@media screen and (max-width: 991px) {
.full-width .contents .topic-list .topic-list-item .main-link .title {
  font-size: 1.37rem !important;
}
}
@media screen and (min-width: 992px) {
.full-width .contents .topic-list .topic-list-item .main-link .title {
font-size: 1.63rem !important;
}
}
.topic-list .views {
 order: 2;
justify-content: center;
align-items: center;
}
 .d-header-icons .icon
  {
 height: 2em;
 width: 2em;
 }
 .switch span.toggle-icon .d-icon {
 width: 1.23rem;
 }
 .slider {
 height: 1rem !important;
 width: 1rem !important;
 left: 0.5rem;
 top: calc(50% - 0.63rem);
 }
 .d-header-icons .icon svg {
 font-size: 1.75em !important;
 }
 .full-width .contents .topic-list .topic-list-body .topic-list-item {
 border-radius: 0.5rem !important;
 background-color: transparent !important;
 border: 0 !important;
 }
  .full-width .contents .topic-list .topic-list-body .topic-list-item,
  .full-width .contents .topic-list .topic-list-body .topic-list-item:hover {
  box-shadow: none !important;
  }
 .switch {
 width: 3.5rem;
 height: 2rem;
 border-radius: 3.33rem;
 border: 2px solid var(--primary-low-mid);
 padding: 0 0.5rem;
 }
    @media screen and (min-width: 992px) {
 .wrap {
  padding: 2rem;
 }
    }
 .wrap {
  max-width:inherit !important;
 }
 .btn, a,
 .sidebar-section-wrapper,
 .btn,
.btn-flat, .json-editor-btn-collapse,
.discourse-no-touch .sidebar-section-wrapper .sidebar-section-header-wrapper .btn.dropdown-select-box-header, .discourse-no-touch .sidebar-section-wrapper .sidebar-section-header-wrapper .sidebar-section-header-button {
  transition: none !important;
 }
 .sidebar-section-wrapper .sidebar-section-header-wrapper .btn.dropdown-select-box-header, .sidebar-section-wrapper .sidebar-section-header-wrapper .sidebar-section-header-button {
  font-size: var(--font-0);
 }
::not(.has-sidebar-page) #main-outlet-wrapper #main-outlet {
justify-self: center;
}
#create-topic,
#create-topic:hover,
#create-topic:active {
background-color: var(--tertiary);
color: var(--white);
}
#create-topic svg {
color: unset;
}
.btn:active, .btn.btn-active {
background-image: none;
border: 0;
background-color: none;
 }
 .custom-search-banner-wrap {
   margin: 0 auto !important;
   max-width: unset;
   color: var(--secondary);
 }
   p {
     margin-bottom: 1em;
   }
  .btn-primary {
  padding: 0.55rem 1rem !important;
  }
   .search-menu input[type="text"] {
     border: 1px solid transparent;
     border-radius: 0.25em;
     min-height: 40px;
     &:focus {
       outline: 3px solid rgba(var(--primary-rgb), 0.35);
     }
   }
   .widget-link.show-help {
     color: rgba(var(--primary-rgb), 0.75);
     border-radius: 0.25em;
     padding: 0.5em;
     background-color: rgba(var(--secondary-rgb), 0.25);
     &:hover {
       color: var(--primary);
     }
   }
   .search-menu .search-input {
     border-color: var(--tertiary-hover);
     outline: 1px solid var(--tertiary-hover);
   }
   .results {
     top: 43px;
     border-radius: 0.25em;
   }
   .search-context {
     top: 3.25em;
     right: 1em;
   }
 .search-input {
   border-radius: 0.25em;
 }
 .display-search-banner {
   #main-outlet {
     padding-top: 2em;
   }
 }
 
 // Main customizations
 .alert {
   margin: 1em 0;
 }
 
 .topic-list .topic-list-header .topic-list-data,
 .topic-list .topic-list-item .topic-list-data {
   padding: 15px 5px;
 }
 
 .navigation-topics .topic-list .topic-list-body .topic-list-data,
 .navigation-topics .topic-list .topic-list-header .topic-list-data {
   flex: unset;
 }
 
 .badge-wrapper.box {
   border-radius: 0.25em;
   overflow: hidden;
 }
 
 .badge-wrapper.bullet {
   .badge-category-bg {
     border-radius: 0.125em;
   }
   .badge-category-parent-bg {
     border-top-left-radius: 0.125em;
     border-bottom-left-radius: 0.125em;
     + .badge-category-bg {
       border-top-left-radius: 0px;
       border-bottom-left-radius: 0px;
       border-top-right-radius: 0.125em;
       border-bottom-right-radius: 0.125em;
     }
   }
 }
 
 .discourse-tag {
   font-size: $font-down-1;
   border-radius: 0.25em;
   padding: 0.15em 0.25em 0.15em 0.35em;
   background-color: var(--primary-low);
   color: var(--primary) !important;
   &:hover {
     background-color: var(--primary-low-mid);
     color: var(--primary);
   }
 }
 
 .discourse-tags .discourse-tag.simple:not(:last-child)::after,
 .list-tags .discourse-tag.simple:not(:last-child)::after,
 .search-category .discourse-tag.simple:not(:last-child)::after {
   content: "";
   margin-left: unset;
 }
 
 .topic-list .link-bottom-line .discourse-tag.simple:after,
 .topic-list .link-bottom-line .discourse-tag.box {
   margin-right: 0px;
 }
 
 #site-text-logo {
   color: var(--primary);
 }
 
 .mobile-view {
   .cm-header-links {
     display: none;
   }
   .list-controls .nav-pills .drop li:first-of-type {
     display: none;
   }
 }
 
 input[type="text"],
 input[type="password"],
 input[type="datetime"],
 input[type="datetime-local"],
 input[type="date"],
 input[type="month"],
 input[type="time"],
 input[type="week"],
 input[type="number"],
 input[type="email"],
 input[type="url"],
 input[type="search"],
 input[type="tel"],
 input[type="color"],
 .select-kit.combo-box .select-kit-header,
 .d-editor-textarea-wrapper,
 div.ac-wrap {
   border-radius: 4px;
 }
 .d-header {
   box-shadow: none;
   width: inherit !important;
   
 }
 
 .d-header-icons .d-icon {
   border-radius: 100px;
 }
 
 .d-header-icons .icon {
   border-radius: 0.25em;
   margin-left: 0.3em;
   border: 1px solid transparent;
   svg {
     font-size: 1.25em;
   }
 }
 
 .d-header-icons .icon img.avatar {
   border-radius: 0.25em;
 }
 
 .menu-panel.drop-down {
   margin-top: 1em;
   border-radius: 0.5em;
   border: 1px solid var(--primary-low-mid);
 }
 
 .drop-down-mode .d-header-icons .active .icon {
   border: 1px solid transparent;
   .d-icon {
     color: var(--tertiary);
   }
 }
 
 .drop-down-mode .d-header-icons .active .icon:hover {
   border: 1px solid transparent;
 }
 
 .menu-panel .widget-link:hover,
 .menu-panel .widget-link:focus,
 .menu-panel .categories-link:hover,
 .menu-panel .categories-link:focus {
   background-color: rgba(var(--tertiary-rgb), 0.5);
 }
 
 .btn:not(.themes-tab):not(.components-tab),
 .select-kit.dropdown-select-box .dropdown-select-box-header {
   border-radius: 8px;
   border: 1px solid transparent;
 }
 
 .post-admin-menu.popup-menu {
   .btn.widget-button {
     border-radius: 0px;
   }
 }
 
 .unread-high-priority-notifications {
   background: var(--quaternary);
 }
 
 .timeline-container .topic-timeline .timeline-handle {
   background-color: var(--tertiary);
 }
 
 .timeline-container .topic-timeline .timeline-scrollarea {
   border-left-color: var(--tertiary);
 }
 
 // graceful ish style
 @mixin box-shadow($value: 0px) {
   box-shadow: 0 24px 40px rgba(0, 0, 0, 0.07),
     0 10.8529px 24.1177px rgba(0, 0, 0, 0.0456112),
     0 4.50776px 10.0172px rgba(0, 0, 0, 0.035),
     0 1.63037px 3.62304px rgba(0, 0, 0, 0.0243888);
 }
 
 html {
   body {
     background: linear-gradient(
         0deg,
         rgba(var(--primary-rgb), 0.075) 0%,
         rgba(var(--primary-rgb), 0.075) 100%
       ),
       linear-gradient(0deg, var(--secondary) 100%, var(--secondary) 100%);
   }
   .background-container {
     position: fixed;
     top: 0;
     left: 0;
     height: 100vh;
     width: 100vw;
     background: linear-gradient(
       90deg,
       var(--tertiary-hover) 0%,
       var(--tertiary) 100%
     );
     clip-path: ellipse(148% 70% at 91% -14%);
   }
 }
 .discourse-tag {
 padding: 0.25em 0.63rem;
 margin: 0.25rem 0.5rem;
 }
 html body {
 background: none !important;
 }
 .d-header {
  background-color: var(--secondary);
  height: 4.33rem;
 }
  html body #main-outlet {
    background: var(--secondary);
   border-radius: 1em;
   .archetype-regular & {
     min-height: 500px;
     padding-top: 0 !important;
     margin: 0;
   }
}.extra-info-wrapper {
 height: inherit;
 overflow: inherit;
}
.extra-info-wrapper .header-title {
 font-size: var(--font-1);
}
@media screen and (min-width: 768px) {
.tc-right-sidebar + #list-area {
 width: calc(75% - 1em);
}
}
#list-area {
padding-bottom: 0;
}
  @media screen and (max-width: 767px) {
.d-header .title {
   display: none !important;
  }
.sidebar-section-link-wrapper .sidebar-section-link, .sidebar-section-wrapper .sidebar-section-header-wrapper {
height: 2.11rem !important;
}
}
  @media screen and (max-width: 992px) {
.tc-right-sidebar {
display: none;
}
}
.sidebar-more-section-links-details-summary {
  padding: var(--d-sidebar-row-vertical-padding) var(--d-sidebar-row-horizontal-padding);
  height: 2.23rem !important;
  background-color: var(--tertiary-50);
}
onboarding-popup-content {
font-size: inherit !important;
}
.sidebar-section-link-wrapper .sidebar-section-link,
.sidebar-section-wrapper .sidebar-section-header-wrapper {
height: 2.23rem !important;
}
@media screen and (max-width: 767px) {
#main {
padding: 0.5rem;
}
}

#main-outlet-wrapper .sidebar-wrapper {
box-shadow: none !important;
padding: 1rem 0 1rem 1rem !important;
background-color: transparent !important;
}
#main-outlet {
padding: 0;
}
.new-user-wrapper .user-navigation .nav-pills li a:hover,
.new-user-wrapper .user-navigation .nav-pills li a:active,
.new-user-wrapper .user-navigation .nav-pills li a.active {
border-bottom: 0 !important;
}
 .nav-pills > li > a,
 .nav-pills > li button {
 border-radius: 0.11rem;
 padding: 0.55rem 0.75rem;
 font-size: var(--font-down-1);
 }
 .d-header #site-logo {
 height: 3rem;
 }

 // Topic List
 
 @keyframes background-fade-highlight {
   0% {
     background-color: var(--highlight-low);
   }
   100% {
     background-color: var(--secondary);
   }
 }
 
 .full-width .contents .topic-list {
   border-collapse: separate;
   border-spacing: 0 0.25em;
   display: contents;
   .topic-list-header {
     tr {
       display: flex;
       border-bottom: none;
     }
   }
   .topic-list-body {
     display: contents;
     .topic-list-item-separator {
       width: 100%;
       margin: 0.75em 0;
       display: flex;
       .topic-list-data {
         width: 100%;
       }
     }
     .topic-list-item {
       width: 100%;
       display: flex;
       margin-bottom: 0.5em;
       background-color: var(--secondary);
       border: 1px solid rgba(var(--primary-rgb), 0.2);
       border-radius: 1em;
       position: relative;
       transition: box-shadow 100ms ease-in-out;
       box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
       overflow: hidden;
       &.visited {
         border: 1px solid rgba(var(--primary-rgb), 0.1);
         .discourse-tag {
           opacity: 0.75;
         }
         &:hover {
           border: 1px solid rgba(var(--primary-rgb), 0.25);
           .discourse-tag {
             opacity: 1;
           }
         }
       }
       &:hover {
         background-color: var(--secondary);
         box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
         border: 1px solid rgba(var(--primary-rgb), 0.3);
         a.title:not(.badge-notification),
         a.topic-excerpt {
           color: var(--primary) !important;
         }
       }
       .topic-list-data.main-link {
         width: 63%;
         order: 1;
       }
       .topic-list-data.posters {
         order: 2;
         height: auto;
         display: flex;
         justify-content: center;
         align-items: center;
       }
       .topic-list-data.posts {
         order: 2;
         display: flex;
         justify-content: center;
         align-items: center;
       }
       .topic-list-data.age {
         order: 4;
         display: flex;
         justify-content: center;
         align-items: center;
       }
     }
   }
 }
 .topic-list-data.num.age,
.topic-list .activity {
   display: none !important;
 }

.sidebar-section-message {
display: none;
 }
 
 .full-width .contents .topic-list .topic-list-item .posters a.latest {
   margin-right: 4px;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-content: center;
   align-items: center;
   .avatar {
     margin-right: 0;
   }
 }
 
 .full-width .contents .topic-list {
   .topic-list-item {
     .main-link {
       min-height: 100%;
       min-height: 100%;
       .link-top-line {
         display: block;
         margin-bottom: 0.25em;
       }
       .title {
         font-weight: bold;
       }
       .link-area {
         display: flex;
         .link-title-area {
           margin-right: 1em;
           font-size: $font-up-1;
         }
         .link-meta-area {
           font-size: $font-down-3;
           display: flex;
           align-items: center;
         }
       }
     }
     .posters {
       .avatar {
         width: 40px;
         height: 40px;
         border-radius: 8px;
       }
       a.latest {
         .avatar {
           margin-right: 0;
         }
       }
       a:not(.latest) {
         .avatar {
          margin: 0 0.25rem;
         }
       }
     }
     .posts-map,
     .num.age.activity {
       a {
         padding: 0;
       }
     }
     .posts-map {
       position: relative;
       .number {
         margin-right: 0.25em;
       }
     }
     .post-activity {
       .d-icon-reply {
         color: var(--primary-medium);
         margin-right: 0.25em;
       }
       .relative-date {
         color: var(--primary-medium);
       }
     }
   }
 }
 
 // published page additions
 .published-page-content-wrapper {
   max-width: 1500px;
   margin-top: 2.5rem;
   margin-bottom: 5rem;
   background: var(--secondary);
   border-radius: 1em;
   padding: 3em 3em 5%;
   box-shadow: 0 24px 40px rgba(0, 0, 0, 0.07),
     0 10.8529px 24.1177px rgba(0, 0, 0, 0.0456112),
     0 4.50776px 10.0172px rgba(0, 0, 0, 0.035),
     0 1.63037px 3.62304px rgba(0, 0, 0, 0.0243888);
   z-index: 1;
   position: relative;
 }
   .background-container {
     display: none;
   }
 .quote-button {
   background-color: var(--primary-low-mid);
   border-radius: 0.5em;
 }
 
 .topic-list tr.selected td:nth-child(2),
 .topic-list-item.selected td:nth-child(2),
 .latest-topic-list-item.selected,
 .search-results .fps-result.selected {
   box-shadow: inset 3px 0 0 var(--danger);
 }
 
 .topic-list tr.selected td:first-child,
 .topic-list-item.selected td:first-child,
 .latest-topic-list-item.selected,
 .search-results .fps-result.selected {
   box-shadow: none;
 }
 
 .topic-list .main-link.focused + .posters {
   box-shadow: inset 3px 0 0 var(--tertiary);
 }
 
 .topic-list .main-link.focused {
   box-shadow: none;
 }

 /* Matenauta stuff */

 .full-width .contents .topic-list .topic-list-body .topic-list-item:nth-child(-n+2) {
display: none;
 }

 .topic-list-item .posters .topic-list-data {
display: none;
 }

 .tippy-box {
font-size: unset !important;
 }

.algolia-holder .aa-Input {
font-size: unset !important;
 }

 .btn-primary .d-icon {
display: none !important;
 }

 .sign-up-button {
display: none !important;
 }
 .algolia-autocomplete .aa-dropdown-menu .aa-Item {
  font-size: 77% !important;
  font-family: Inter Tight !important;
 }

 .aa-dataset-posts .hit-post .hit-post-content {
  font-size: var(--font-0);
 }

.admin-customize .themes-list {
width: 40%;
}

.admin-customize .show-current-style {
width: 57%;
}
 .sidebar-wrapper .sidebar-sections {
padding-top: 0
 }
 #main-outlet-wrapper .sidebar-wrapper {
padding: 0;
margin: 0;
 }
nav.post-controls,
.menu-panel {
font-size: var(--base-font-size);
}
 .chat-channel-unread-indicator.urgent {
background: coral;
}
.chat-channel-unread-indicator {
width: 0.91rem;
height: 0.91rem;
}
 .d-modal.create-account .login-welcome-header .login-title,
 .d-modal.create-account .login-welcome-header .waving-hand {
display: none;
}

 .login-modal #login-buttons:not(.hidden) {
font-size: 0;
 }
 .login-modal #login-buttons:not(.hidden) svg {
  font-size: 2rem;
  padding: 1rem; 
  margin: auto;

  }
  .login-modal #login-buttons:not(.hidden) svg:not(:first-of-type) {
  margin-top: 1rem;
  }

@media screen and (min-width:768px) {
body::not(.has-sidebar-page).topic-body {
width: 80%;
}
}

.container.posts > .row {
max-width: 100% !important;
}

.suggested-topics-message {
margin: 1rem 0 2rem;
}

.reply-control {
padding: 0.33rem !important;
}

.chat-drawer {
width: 450px !important;
}

.chat-drawer-container {
font-size: 83%;
}

.extra-info-wrapper .topic-link {
font-weight: 700;
font-size: 1.11rem;
}

.topic-list .topic-excerpt {
  color: var(--primary);
}
.topic-list .topic-excerpt:visited {
  color: var(---high);
}
@media screen and (max-width: 767px) {
 .topic-list .num,
 posters .topic-list-data {
display: none !important;
}
.main-link .topic-list-data {
width: 100%;
}
.topic-list .topic-excerpt:visited {
  color: var(--primary) !important;
}
}

/* Footer */

/* Site footer */

.gh-foot {
background-color: var(--color-bg-alt);
color: var(--color-text);
white-space: inherit;
padding: 11rem 0;
}

@media screen and (min-width: 1200px) {
.gh-foot {
width: 63%;
margin: auto;
border: 2px solid var(--color-border);
border-radius: 1.11rem;
}
.gh-foot-inner {
  font-size: 2rem;
}
}
.gh-foot-inner {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
padding: 0 4rem;
}
.gh-foot-menu {
width: 100%;
padding: 1.11rem 0;
text-align: center;
}

.gh-foot-menu .nav {
gap: 2.3rem;
font-weight: 400;
}

.gh-foot-menu .nav li + li::before {
display: none;
}

.gh-copyright {
letter-spacing: .011rem;
text-align: center;
font-size: 1.11rem;
}

.nav-pills > li button
.nav-pills > li button:hover,
.nav-pills > li button:active,
.admin-customize .themes-list-header .tab.active {
color: var(--primary);
}
.it-foot-social {
text-align: center;
}
.it-foot-social a,
gh-copyright {
opacity: 0.74;
}
.it-foot-social a {
margin-left: .8rem;
display: inline-block;
padding: .5rem;
}
.it-foot-social a svg {
    height: 2.23rem;
    height: 2.23rem;
}
    .it-foot-social a {
    color: var(--color-base);
}

.it-foot-social a svg:hover,
.it-foot-social a svg:active,
.it-foot-social a:hover,
.it-foot-social a:active,
.admin-customize .themes-list-container .themes-list-item .components-list {
color: var(--color-white);
opacity: 1;
}
.it-foot-social a.rss svg {
width: 2.53rem;
height: 2.53rem;
}
@media screen and (max-width: 767px) {
  .gh-foot-inner {
    font-size: 1.5rem;
  }
    .it-foot-menu {width: 2.3rem;
display: inline-flex;
        text-align: center;
    }
    .gh-copyright {
    font-size: 1rem;
    }
    .it-foot-social a {
      padding: .25rem;
    }
}
.topic-list .topic-list-item-separator .topic-list-data span {
color: var(--secondary-very-high);
}

.category-list .topics {
display: none;
}
.nav-pills > li {
margin-right: 0.25rem;
}
nav-pills > li a:active {
  color: var(--primary);
  background-color: var(--tertiary-900);
}

.topic-list-main-link a.title, .latest-topic-list-item .main-link a.title, .topic-list .main-link a.title {
font-weight: 700 !important;
}

.topic-list .main-link {
  font-size: var(--font-0);
}

.category-boxes .category-box-inner, .category-boxes-with-topics .category-box-inner {
  font-size: 0.83rem;
}

.sidebar-row, .sidebar-section-wrapper .sidebar-section-header-text {
font-size: inherit;
}

@media screen and (max-width: 1199px) {
.full-width .contents .topic-list .topic-list-body .topic-list-item .topic-list-data.main-link {
width: 100% !important;
}
.full-width .contents .topic-list .topic-list-body .topic-list-item .topic-list-data.posters {
  display: none;
}
}