@import "./vendor/normalize";
@import "./vendor/normalize-ext";
@import "./common/foundation/base";
@import "./color_definitions";
@import "./common/components/buttons";

:root {
--font-down-1: --font-up-1;
--font-0: 22px;
--font-up-1: 24px;
font-family: "Inter Tight","Lato",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans";
}
  
article.post {
  border-bottom: none;
  padding: 1rem;
  img.avatar {
    border-radius: 50%;
  }

  &.deleted {
    background-color: var(--danger-low);
  }

  .article.post .cooked p {
    font-family: "Lora",Georgia,Times,serif !important;
    line-height: 1.66 !important;
   }

   a.post-replies.button {
    display: none !important;
    }

  .quote .title {
    border-left: 5px solid var(--primary-very-low);
    padding: 10px 10px 0 12px;
    .avatar {
      margin-right: 7px;
    }
  }

  ol,
  ul {
    clear: none;
  }

  blockquote {
    padding: 10px 8px 10px 13px;
    margin: 0 0 10px 0;
    border-left: 5px solid var(--primary-very-low);
    p {
      margin: 0 0 10px 0;
    }
    p:last-of-type {
      margin-bottom: 0;
    }
  }

  .post-date {
    float: right;
    color: var(--primary-low-mid);
    font-size: var(--font-down-1);
    margin: 10px 4px 0 0;
  }

  .author {
    padding: 10px 5px;
    float: left;

    img {
      max-width: 45px;
      border-radius: 50%;
    }
    a {
      pointer-events: none;
  cursor: default;
  text-decoration: none;
    }
  }

  .cooked {
    padding: 10px 0;
    margin-left: 65px;
    word-wrap: break-word;
    word-break: break-word;

    pre {
      white-space: pre-wrap;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    p {
      margin: 0 0 1em 0;
    }
  }
}

.username {
  font-size: var(--font-up-1);
  margin-bottom: 1.11rem;

  a {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }
  a.staff {
    background-color: transparent;
  }

  a.new-user {
    color: var(--primary-low-mid);
  }

  span.title {
    font-weight: normal;
    color: var(--primary-medium);
  }
}

img.emoji {
  width: 20px;
  height: 20px;
}

.in-reply-to {
  font-size: var(--font-down-1);
  text-align: center;
  margin: 10px 20px 6px 0;
  float: right;
  color: var(--tertiary);
}

.replies {
  font-size: var(--font-0);
  color: var(--primary-medium);
}

.clearfix {
  clear: both;
}

header.discourse {
border: 0
}

.embed-error {
  padding: 0 10px;
}

footer {
  font-size: var(--font-up-2);
  margin-top: 0.5em;
}

.button {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 3px solid var(--secondary);
  border-radius: 0.33em;
  color: var(--secondary);
  display: inline-block;
  padding: 1.33rem 3rem !important;
  font-size: 1.5rem !important;
  margin: 3rem auto !important;
  opacity: .93;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1.23rem;
  letter-spacing: -.011em;
box-shadow: 0 0 0 0 transparent,0 0 0 0 transparent,0 0 1px 0 rgba(0,0,0,.1),0 2px 6px 0 rgba(0,0,0,.03);
font-weight: 500;
opacity: .93;
  margin: 1rem;
  text-align: center;
  transition: box-shadow 73ms ease, color 73ms ease;
}
.button:hover {
   box-shadow: 0 0 40px 40px var(--tertiary) inset;
 }

 .button:hover,
 .button:focus {
    color: #fff;
    outline: 0;
  }


.dark {
color: #f1f1f1;
}

.logo,
hr,
small,
span.replies {
display: none;
}
footer.clearfix {
display:flex;
}

// load onebox CSS at the end
@import "./common/base/onebox";

// we apparently use bottom margins on paras in the embed CSS, leading to weirdness
// which we will now clean up
.onebox {
  font-size: var(--font-down-1) !important;
  margin-bottom: 1rem;  
}

// images large enough for the lightbox wrapper don't have bottom margins
// either, unless we add one now
div.lightbox-wrapper {
  margin-bottom: 20px;
}

.new-topic-btn {
  margin: 0.5rem;

  &:hover {
    background: var(--tertiary-hover);
  }

  span {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 2px;
  }
  .new-topic-btn__icon {
    width: 16px;
    height: 16px;
    margin-right: 2px;
    background-image: svg-uri(
      '<svg xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" viewBox="0 0 448 512" fill="white"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg>'
    );
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
  }
}

.topics-list {
  width: 100%;

  .topic-list-item {
    clear: both;

    .main-link {
      border-bottom: 1px solid var(--primary-low);
      padding: 0.5rem;
      width: 100%;

      a {
        color: var(--primary);
      }

      a:visited {
        color: var(--primary-medium);
      }
    }

    .topic-column-wrapper {
      display: flex;

      .topic-column.details-column {
        flex-direction: column;
        width: 80%;

        .topic-last-posted-at,
        .topic-author-avatar-timestamp,
        .topic-stats {
          padding-top: 5px;
        }

        .topic-author-avatar-timestamp img {
          max-height: 20px;
        }

        .topic-created-at {
          padding-left: 5px;
          vertical-align: middle;
        }

        .topic-last-posted-at,
        .topic-created-at,
        .topic-stats {
          color: var(--primary-medium);
        }
      }

      .topic-column.featured-image-column {
        .topic-featured-image img {
          max-width: 200px;
          max-height: 100px;
        }
      }
    }
  }
}


/* Fonts */

   html {
    background-color: unset;
   }