@import "showcased-categories";
@import "chat-desktop";
@import "sidebar-desktop";

html {
    font-size: 22px;
    }

    @media screen and (max-width: 768px) {
    html {
        font-size: 20px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 991px) {
        html {
            font-size: 22px;
            }
        }