@import "showcased-categories";
@import "chat-desktop";
@import "sidebar-desktop";

html {
    font-size: 24px;
    }

    @media screen and (max-width: 768px) {
    html {
        font-size: 21px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 991px) {
        html {
            font-size: 22px;
            }
        }
.chat-messages-container p {
font-size: var(--font-down-1);
}
.user-preferences .category-selector {
    max-width: 70%
    }
.container.posts {
    display: flex;
    flex-direction: row-reverse;
  }
  .container.posts > .row,
  .topic-body,
  .small-action .small-action-desc {
  width: 100% !important;
  }